*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
button{
  border:0;
  outline:0;
  cursor: pointer;
}

// Positioning stuff
@mixin position($position,$l:null,$t:null,$r:null,$b:null,$z:99) {
  position: $position;
  @if($l){
    left: $l;
  }
  @if($t){
    top:$t;
  }
  @if($r){
    right: $r;
  }
  @if($b){
    bottom: $b;
  }
  z-index: $z;
}
@mixin box($dis:block,$w:false,$h:false){
  @if $dis!=block{
    display: $dis;
  }
  @if $w{
    width:$w;
  }
  @if $h{
    height:$h;
  }
}

.video-player{
  position:relative;
  width:100%;
  height:auto;
  font-family: Arial,sans-serif;
}
.show{
  display: block !important;
}
.player-tips{
  @include position(absolute,0,0,null,null,8);
  @include box(block,100%,100%);

  .playing{
    @include position(absolute,50%,50%,null,null,1);
    @include box(block,50px,50px);
    margin-left:-25px;
    margin-top:-25px;
    background:#000 url('img/playing.png') no-repeat center center;
  }
  .waiting{
    @include position(absolute,50%,50%,null,null,2);
    @include box(none,50px,50px);
    margin-left:-25px;
    margin-top:-25px;
    background-color:white;
    text-align: center;
    line-height:50px;
    vertical-align: middle;
    background-color:#000;
    //background:#000 url('img/waiting.png') no-repeat center center;
    img{
      margin-top:10px;
      -webkit-animation:rotate 3s linear 0s infinite;
      animation:rotate 2s linear 0s infinite;
    }
  }
  .warning{
    @include position(absolute,50%,50%,null,null,3);
    @include box(none,90px,130px);
    margin-left:-45px;
    margin-top:-65px;
    //background:#000 url('img/playerIcons.png') no-repeat center center;
  }
  .replaying{
    @include position(absolute,50%,50%,null,null,4);
    @include box(none,50px,50px);
    margin-left:-25px;
    margin-top:-25px;
    background:#000 url('img/ended.png') no-repeat center center;
  }
}
.player-controls{
  @include position(absolute,0,null,null,0,9);
  width:100%;
  background-color:black;
  font-size: 10px;
  color: white;
  line-height:40px;

  .controls-left{
    float: left;
    width:100px;
    text-align: center;

    .play{background-image:url('img/playing.png');}
    .pause{background-image:url('img/paused.png');}
  }
  .controls-right{
    float: right;
    width:100px;
    text-align: center;

    .mute-off{background-image:url('img/mute_off.png');}
    .mute-on{background-image:url('img/mute_on.png');}
  }
  .switch,.mute{
    //border:1px solid red;
    width:25px;
    height:25px;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position: center;
    background-size:auto;
  }

  .process-bar{
    position:relative;
    top:19px;
    z-index:20;
    min-height:3px;
    margin-left:100px;
    margin-right:100px;
    //border:1px solid blue;

    .process-bg{
      position:absolute;height:3px;width:100%;left:0;background-color:#141414;
    }
    .process-buffer{
      position:absolute;height:3px;width:0;left:0;background-color:#2c2c2c;
    }
    .process-line{
      position:absolute;height:3px;width:0;left:0;background-color:#9b9b9b;
    }
  }
}

@keyframes rotate {
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}