.clearfix {
  @include clearfix();
}

.text-overflow {
  @include text-overflow();
}

//禁止页面滚动
.noscroll,
.noscroll body {
  overflow: hidden !important;
}

//禁止页面滚动，并强制显示到页面顶部
html.noscroll-top,
html.noscroll-top body {
  overflow: hidden !important;
  height: 100% !important;
}