@mixin make-container(){
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  //border:1px solid red;
}

@mixin make-container-max-widths(){
  @each $key,$val in $grid-breakpoints {
    //@debug $key,$val;
    @if $key != xs{
      @media (min-width:$val){
        max-width: $val;
      }
    }
  }
}

@mixin make-row(){
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
}

@mixin make-col($size){
  $percent:percentage($size / $grid-columns);
  flex:0 0 $percent;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width:$percent;
}