@mixin media-breakpoint-up($val){
  $min:if($val!=0,$val,null);
  @if $min{
    @media (min-width:$min){
      @content;
    }
  } @else {
    @content;
  }
}

@mixin make-grid-columns(){
  %grid-column{
    position:relative;
    width:100%;
    min-height:1px;
  }

  @each $key,$val in $grid-breakpoints{
    $infix:if($key!=xs,'-#{$key}','');
    //@debug $infix;

    @for $i from 1 through $grid-columns{
      .col#{$infix}-#{$i}{
        @extend %grid-column;
      }
    }

    .col#{$infix},
    .col#{$infix}-auto{
      @extend %grid-column;
    }

    @include media-breakpoint-up($val){
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; // Reset earlier grid tiers
      }

      @for $i from 1 through $grid-columns{
        .col#{$infix}-#{$i}{
          @include make-col($i);
        }
      }
    }
  }
}

